doctype html
html
	head
		block metas
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name="viewport" content="width=device-width, initial-scale=1")

		title= title
		block styles
			link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
			link(href=process.env.APP_BASE_URL+'/assets/material-design-lite/material.min.css' rel='stylesheet')
			link(href=process.env.APP_BASE_URL+'/assets/material-design-icons/iconfont/material-icons.css' rel='stylesheet' type='text/css')

	body
		.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
			header.mdl-layout__header.mdl-layout__header--transparent
				.mdl-layout__header-row
					span.mdl-layout-title AntTree
			main.mdl-layout__content
				.page-content
					block content
			footer.mdl-mini-footer
				.mdl-mini-footer__left-section
					.mdl-logo AntTree
					ul.mdl-mini-footer__link-list
						li
							a(href="#") Help
						li
							a(href="#") Privacy & Terms

		block script
			script(src=process.env.APP_BASE_URL+'assets/jquery/dist/jquery.min.js')
			script(src=process.env.APP_BASE_URL+'/assets/material-design-lite/material.min.js')
